@model DusColl.vmHome
<style>
    td:not(:first-child) {
        white-space: nowrap;
    }

    td:last-child {
        width: 2%;
    }

    .btn {
        padding: 6px 7px;
        margin-bottom: 0;
        /*border-radius: 0;*/
        /*border: 0;*/
    }

    .btngridx {
        padding: 1px 5px;
        margin-bottom: 0;
    }

    .btngrid {
        padding: 6.7px 7px;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
    }
</style>

<table class="table table-striped table-hover table-bordered" id="table_txodcab">
    <thead>
        <tr>
            <th>Cabang</th>
            <th>0-3 Hari</th>
            <th>>3 Hari</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TodoNOT != null)
        {
            var i = 0;
            foreach (System.Data.DataRow item in Model.TodoNOT.Rows)
            {
        <tr class="DrillDownRow">
            <td width="80%" align="center">PURWODADI MAILBAARO SUNTASO DUKD</td>
            <td width="10%" align="center">@item["OrderKeNotaris"].ToString()</td>
            <td width="10%" align="center">@item["Pengecekan Sertifikat"].ToString()</td>
        </tr>
            }

        }
    </tbody>
</table>