@model DusColl.vmDash

<div class="page-bar">
    <ul class="page-breadcrumb" style="padding: 10px 0px 10px 10px">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("HomeGate", "Home")">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="javascript:;" style="cursor:not-allowed">DashBoard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <strong>Monitoring <span></span></strong>
        </li>
    </ul>
    @if ((Model.DetailFilter.UserTypeApps == (int)HashNetFramework.UserType.FDCM || Model.DetailFilter.UserTypeApps == (int)HashNetFramework.UserType.HO) && (@ViewBag.TipeDashboard != (int)HashNetFramework.MonitDesc.monitoutsRegis))
    {
    <div class="page-toolbar" style="padding:15px 15px 0px 0px">
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons" onclick="vmDash.OpenFilter();">
                <label class="btn green btn-sm">
                    <input type="radio" name="options" class="toggle" id="option2">
                    <i class="fa fa-filter"></i>
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    }

    @if (Model.DetailFilter.UserTypeApps == (int)HashNetFramework.UserType.FDCM && ViewBag.TipeDashboard == (int)HashNetFramework.MonitDesc.monitoutsRegis)
    {
    <div class="page-toolbar" style="padding:15px 15px 0px 0px">
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons" id="startstophub">
                <label class="btn green btn-sm">
                    <input type="radio" name="options" class="toggle" id="option2">
                    <i class="fa fa-filter"></i>
                    <span></span>
                </label>
            </div>
        </div>
    </div>
    }
</div>
<div id="uidivfilter">
</div>

<div class="profile-content">
    <div id="loppid">
        @if (Model.DetailFilter.ViewHtml != "")
        {
            { Html.RenderPartial(Model.DetailFilter.ViewHtml, Model.ListDataMonitoring); }
        }
    </div>
</div>

<script>
    $('.date-picker').datepicker({
        rtl: App.isRTL(),
        orientation: "left",
        autoclose: true
    });
    $('.select2').select2();
    $.getScript("Scripts/vmDash.js", function () {
    });
</script>