<div class="col-md-12">
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green bold uppercase">Default</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="mt-element-card mt-element-overlay">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar mt-overlay-1">
                                <img src="../assets/pages/img/avatars/team1.jpg">
                                <div class="mt-overlay">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-card-content">
                                <h3 class="mt-card-name">Mark Anthony</h3>
                                <p class="mt-card-desc font-grey-mint">Managing Director</p>
                                <div class="mt-card-social">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                                <img src="../assets/pages/img/avatars/team2.jpg">
                                <div class="mt-overlay mt-top">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-card-content">
                                <h3 class="mt-card-name">Denzel Wash</h3>
                                <p class="mt-card-desc font-grey-mint">Finance Director</p>
                                <div class="mt-card-social">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-up">
                                <img src="../assets/pages/img/avatars/team3.jpg">
                                <div class="mt-overlay">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-card-content">
                                <h3 class="mt-card-name">David Goodman</h3>
                                <p class="mt-card-desc font-grey-mint">Creative Director</p>
                                <div class="mt-card-social">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="mt-card-item">
                            <div class="mt-card-avatar mt-overlay-1 mt-scroll-left">
                                <img src="../assets/pages/img/avatars/team4.jpg">
                                <div class="mt-overlay">
                                    <ul class="mt-info">
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn default btn-outline" href="javascript:;">
                                                <i class="icon-link"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-card-content">
                                <h3 class="mt-card-name">Lucy Ling</h3>
                                <p class="mt-card-desc font-grey-mint">HR Director</p>
                                <div class="mt-card-social">
                                    <ul>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="icon-social-dribbble"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>